server.port=8082

spring.application.name=query-service

spring.datasource.url=jdbc:mysql://localhost:3306/query_db
spring.datasource.username=example
spring.datasource.password=example
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect
spring.jpa.properties.hibernate.format_sql=true

jwt.secret=${JWT_SECRET:example}
jwt.expiration.ms=86400000

logging.pattern.console=%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n

spring.data.redis.host=${SPRING_DATA_REDIS_HOST:example}
spring.data.redis.port=${SPRING_DATA_REDIS_PORT:example}

# Kafka Producer Configuration
spring.kafka.bootstrap-servers=${KAFKA_BOOTSTRAP_SERVERS:kafka:9092}
spring.kafka.producer.key-serializer=org.apache.kafka.common.serialization.StringSerializer
spring.kafka.producer.value-serializer=org.springframework.kafka.support.serializer.JsonSerializer
spring.kafka.producer.retries=3
spring.kafka.producer.properties.retry.backoff.ms=1000
